*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica,sans-serif;
}
#code{
    width: 60vw;
    height: 50vh;
    position: fixed;
    left: 40%;
    top: 20%;
}
section .Ocultar{
    visibility: hidden;
}
.dbz{
    width: 97vw;
    height:450vh;
}